<nav class="container grid-lg">
    <div class="columns">
        <div class="column col-12">
            <div class="footer-navigation__logo">
                <h2>MLB</h2>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column col-xs-12 col-sm-2">
            {{#link-to "index" class="footer-navigation__links--link"}}Welkom{{/link-to}}


        </div>
        <div class="column col-xs-12 col-sm-2">{{#link-to "psychotherapeut" class="footer-navigation__links--link"}}De Psychotherapeut{{/link-to}}</div>
        <div class="column col-xs-12 col-sm-2">{{#link-to "praktijk" class="footer-navigation__links--link"}}De praktijk{{/link-to}}</div>
        <div class="column col-xs-12 col-sm-2">

            {{#link-to "informatie" class="footer-navigation__links--link"}}Kosten en Verzekering{{/link-to}}
        </div>
        <div class="column col-xs-12 col-sm-2">
            {{#link-to "contact" class="footer-navigation__links--link"}}Contact{{/link-to}}

        </div>
        <div class="column col-xs-12 col-sm-2">
            {{#link-to "links" class="footer-navigation__links--link"}}Links{{/link-to}}

        </div>
    </div>
</nav>