<footer>
    <div class="container grid-lg">
        <div class="columns">
            <div class="column col-12">
                <span class="copyright">Copyright © 2018 mlburger-psychotherapie.nl</span>
            </div>
        </div>
    </div>
</footer>