<nav class="container grid-lg">
    <div class="overlay"></div>
    <div class="footer-navigation__content">
        <div class="columns">
            <div class="column col-xs-12 col-sm-4 devider">
                <ul class="footer-navigation__links">
                    <li>{{#link-to "index" class="footer-navigation__links--link"}}Welkom{{/link-to}}</li>
                    <li>{{#link-to "psychotherapeut" class="footer-navigation__links--link"}}De Psychotherapeut{{/link-to}}</li>
                    <li>{{#link-to "praktijk" class="footer-navigation__links--link"}}De praktijk{{/link-to}}</li>
                    <li>{{#link-to "informatie" class="footer-navigation__links--link"}}Kosten en Verzekering{{/link-to}}</li>
                    <li>{{#link-to "contact" class="footer-navigation__links--link"}}Contact{{/link-to}}</li>
                    <li>{{#link-to "links" class="footer-navigation__links--link"}}Links{{/link-to}}</li>
                </ul>
            </div>

             <div class="column col-xs-12 col-sm-4 devider">
                 <ul class="footer-navigation__links">
                    Praktijkadres
                    <li>1ste Hogeweg 16d</li>
                    <li>3701 HK Zeist</li>
                    <li>Werkdagen: maandag, donderdag en vrijdag</li>
                 </ul>
             </div>
             <div class="column col-xs-12 col-sm-4">
                 {{mlb-logo}}
                 {{lvvp-logo
                    class="footer-navigation__lvvp"}}
             </div>
        </div>
    </div>

</nav>