<nav class="footer-navigation">
    <div class="footer-navigation__logo">
        <h2>MLB</h2>
    </div>
     <div class="footer-navigation__links">
         {{#link-to "index"}}Welkom{{/link-to}}
         {{#link-to "psychotherapeut"}}De Psychotherapeut{{/link-to}}
         {{#link-to "praktijk"}}De praktijk{{/link-to}}
         {{#link-to "informatie"}}Kosten en Verzekering{{/link-to}}
         {{#link-to "contact"}}Contact{{/link-to}}
         {{#link-to "links"}}Links{{/link-to}}
    </div>
</nav>