<header class="navbar">
    <div class="container grid-lg">
    <section class="navbar-section">
        <a href="#" class="navbar-brand mr-2">Psychotherapiepraktijk M.L. Burger</a>
    </section>
    <section class="navbar-section">
        <span class="menu-button"></span>
    </section>
    </div>
</header>