<header class="container grid-lg navbar">
    <section class="navbar-section">
        {{#link-to "index" class="navbar-brand mr-2"}}Psychotherapiepraktijk M.L. Burger{{/link-to}}
    </section>

    <section class="navbar-section">
        {{menu-modal
            showMenu=showMenu}}

        <div class="nav-icon{{if navigationMenu.menuButton " open"}}" {{action "toggleMenu"}}>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>
</header>

