<div class="modal modal-lg menu-modal {{if navigationMenu.showMenu "active"}}">
    <a href="#close" class="modal-overlay" aria-label="Close"></a>
    <div class="modal-container">
        <div class="modal-container__links">
            {{#link-to "index" class="modal-container__links--link" invokeAction=(action 'closeModal')}}Welkom{{/link-to}}
            {{#link-to "psychotherapeut" class="modal-container__links--link" invokeAction=(action 'closeModal')}}De Psychotherapeut{{/link-to}}
            {{#link-to "praktijk" class="modal-container__links--link" invokeAction=(action 'closeModal')}}De praktijk{{/link-to}}
            {{#link-to "informatie" class="modal-container__links--link" invokeAction=(action 'closeModal')}}Kosten en Verzekering{{/link-to}}
            {{#link-to "contact" class="modal-container__links--link" invokeAction=(action 'closeModal')}}Contact{{/link-to}}
            {{#link-to "links" class="modal-container__links--link" invokeAction=(action 'closeModal')}}Links{{/link-to}}
        </div>
    </div>
</div>