<h3>In de praktijk hangt en staat werk van:</h3>

<div class="columns">
    <div class="column col-sm-12 col-4">
        {{single-painting
            imagename="carineburger"
            title="Carine Burger"
            link="www.carineburger.nl"}}
    </div>
    <div class="column col-sm-12 col-4">
        {{single-painting
            imagename="carryvanderkaaij"
            title="Carry van der Kaaij"
            link="www.fotocarry.com"}}
    </div>
    <div class="column col-sm-12 col-4">
        {{single-painting
            imagename="karinloenen"
            title="Karin Loenen"
            link="www.kilart.nl"}}
    </div>
</div>
<hr>
<p class="center">De foto’s op deze site zijn gemaakt door Carry van der Kaaij.</p>