<h3>In de praktijk hangt en staat werk van:</h3>

<div class="columns">
    <div class="column col-4">
        {{single-painting
            image="http://via.placeholder.com/250x150"
            title="Carine Burger"
            link="www.carineburger.nl"}}
    </div>
    <div class="column col-4">
        {{single-painting
            image="http://via.placeholder.com/250x150"
            title="Carry van der Kaaij"
            link="www.fotocarry.com"}}
    </div>
    <div class="column col-4">
        {{single-painting
            image="http://via.placeholder.com/250x150"            
            title="Karin Loenen"
            link="http://www.kilart.nl"}}
    </div>  
</div>
<hr>
<p>De foto’s op deze site zijn gemaakt door Carry van der Kaaij.</p>