<div class="painting-container">
    <div class="title">
        {{title}}
    </div>

    <div class="painting">
        <img src="{{image}}" alt="">
    </div>

    <div class="link">
        {{link}}
    </div>
</div>