@mixin box-shadow($shadow) {
  @if $shadow == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $shadow == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $shadow == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else if $shadow == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else if $shadow == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

@mixin media($size) {
  @if $size == xlarge {
    @media (min-width: 1800px) {
      @content;
    }
  } @else if $size == large {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == medium {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == small {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == xsmall {
    @media (min-width: 320px) {
      @content;
    }
  }
}
