.footer-navigation {
  padding: 1em 0;
}

.footer-navigation__logo {
  padding: 2em 0;

  h2 {
    font-family: Italianno;
    font-size: 3rem;
    text-align: center;
    margin: 0;

    &:before, &:after {
      display: none;
      content: '';
      position: relative;
      height: 1px;
      width: 50px;
      background-color: $lavendar;
      margin: .8rem;

      @include media(small) {
        display: inline-block;
      }
    }
  }
}
.footer-navigation__links {
  display: flex;
  justify-content: center;
  padding: 2em 0;

  .footer-navigation__links--link {
    margin: 0 1em;
  }
}
