.welcome-modal{
  background-image: url(../images/ambiance/corpsdeballet.jpg) !important;
  background-size: cover;
}

.modal-overlay {
  background: transparent !important;

}

.modal-container {
  display: flex;
  justify-content: center;
  animation: slide-up .52s ease 1;
  background: transparent !important;

  .modal-container__links {
    display: flex;
    flex-direction: column;

    .modal-container__links--link {
      margin: 2em auto;

    }
  }
}
