.modal-container {
  display: flex;
  justify-content: center;
  animation: slide-up .52s ease 1;

  .modal-container__links {
    display: flex;
    flex-direction: column;

    .modal-container__links--link {
      margin: 2em auto;

    }
  }
}

.menu-modal {
  background-color: #fff !important;
}
