.painting-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title, .link {
    margin: 1em auto;
  }


  img {
    height: 250px;
    border: .5em solid white;
    @include box-shadow(1);
  }
}
