{{hero-image
    image="index"
    title="Welkom"}}

<main class="container grid-lg">
    {{#each model as |index|}}
        {{markdown-to-html index.content}}
    {{/each}}

    {{painting-gallery}}

</main>