{{hero-image
    image="informatie"
    title="Kosten en Verzekering"}}

<main class="container grid-lg">
    {{#each model as |informatie|}}
        <div class="columns">
            <div class="column col-12">
                {{markdown-to-html informatie.content1}}

            </div>
        </div>
        <div class="columns">
            <div class="column col-12">
                {{markdown-to-html informatie.content2}}

            </div>
        </div>
    {{/each}}
</main>