{{hero-image
    image="links"
    title="Links"}}

<main class="container grid-lg">
    {{#each model as |links|}}
        <div class="columns">
            <div class="column col-12">
                {{markdown-to-html links.content}}
            </div>
        </div>
    {{/each}}
</main>